<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstWebWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Driver</display-name>
    <servlet-name>Driver</servlet-name>
    <servlet-class>Driver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Driver</servlet-name>
    <url-pattern>/Driver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validatelogin</display-name>
    <servlet-name>validatelogin</servlet-name>
    <servlet-class>validatelogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validatelogin</servlet-name>
    <url-pattern>/validatelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validateCourseStudent</display-name>
    <servlet-name>validateCourseStudent</servlet-name>
    <servlet-class>validateCourseStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateCourseStudent</servlet-name>
    <url-pattern>/validateCourseStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNewCourse</display-name>
    <servlet-name>addNewCourse</servlet-name>
    <servlet-class>addNewCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewCourse</servlet-name>
    <url-pattern>/addNewCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectCourseProfessor</display-name>
    <servlet-name>selectCourseProfessor</servlet-name>
    <servlet-class>selectCourseProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectCourseProfessor</servlet-name>
    <url-pattern>/selectCourseProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectCourseStudent</display-name>
    <servlet-name>selectCourseStudent</servlet-name>
    <servlet-class>selectCourseStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectCourseStudent</servlet-name>
    <url-pattern>/selectCourseStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeCourseProfessor</display-name>
    <servlet-name>removeCourseProfessor</servlet-name>
    <servlet-class>removeCourseProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeCourseProfessor</servlet-name>
    <url-pattern>/removeCourseProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeCourseStudent</display-name>
    <servlet-name>removeCourseStudent</servlet-name>
    <servlet-class>removeCourseStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeCourseStudent</servlet-name>
    <url-pattern>/removeCourseStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTA</display-name>
    <servlet-name>addTA</servlet-name>
    <servlet-class>addTA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTA</servlet-name>
    <url-pattern>/addTA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>remTA</display-name>
    <servlet-name>remTA</servlet-name>
    <servlet-class>remTA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remTA</servlet-name>
    <url-pattern>/remTA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogout</display-name>
    <servlet-name>userLogout</servlet-name>
    <servlet-class>userLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogout</servlet-name>
    <url-pattern>/userLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>notifications</display-name>
    <servlet-name>notifications</servlet-name>
    <servlet-class>notifications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notifications</servlet-name>
    <url-pattern>/notifications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectquestions</display-name>
    <servlet-name>selectquestions</servlet-name>
    <servlet-class>selectquestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectquestions</servlet-name>
    <url-pattern>/selectquestions/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewReport</display-name>
    <servlet-name>viewReport</servlet-name>
    <servlet-class>viewReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewReport</servlet-name>
    <url-pattern>/viewReport/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exercise</display-name>
    <servlet-name>exercise</servlet-name>
    <servlet-class>exercise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exercise</servlet-name>
    <url-pattern>/exercise/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showexercises</display-name>
    <servlet-name>showexercises</servlet-name>
    <servlet-class>showexercises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showexercises</servlet-name>
    <url-pattern>/showexercises/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFeedback</display-name>
    <servlet-name>addFeedback</servlet-name>
    <servlet-class>addFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFeedback</servlet-name>
    <url-pattern>/addFeedback/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editHW</display-name>
    <servlet-name>editHW</servlet-name>
    <servlet-class>editHW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editHW</servlet-name>
    <url-pattern>/editHW/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>pastsubmission</display-name>
    <servlet-name>pastsubmission</servlet-name>
    <servlet-class>pastsubmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pastsubmission</servlet-name>
    <url-pattern>/pastsubmission/*</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>validateCourseTa</display-name>
    <servlet-name>validateCourseTa</servlet-name>
    <servlet-class>validateCourseTa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateCourseTa</servlet-name>
    <url-pattern>/validateCourseTa/*</url-pattern>
  </servlet-mapping>
</web-app>